*{
  box-sizing: border-box;
}

@font-face {
  font-family: 'Plus Jakarta Sans';
  src: url(/fonts/PlusJakartaSans-Regular.ttf);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Plus Jakarta Sans';
  src: url(/fonts/PlusJakartaSans-Medium.ttf);
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Plus Jakarta Sans';
  src: url(/fonts/PlusJakartaSans-SemiBold.ttf);
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Plus Jakarta Sans';
  src: url(/fonts/PlusJakartaSans-Bold.ttf);
  font-weight: 700;
  font-style: normal;
}

:root{
  --title-color: #101010;
  --subtitle-color: #636F87;
  --white-color: #FFFFFF;
  --green-color: #1AAB7B;
  --silver-bg: #F2F4F6;
  --black: #000000;
}

body{
  font-family: 'Plus Jakarta Sans' , sans-serif;
  font-weight: 400;
}

.container{
  width: 100%;
  max-width: 1256px;
  padding: 0 20px;
  margin: 0 auto;
}

h1, h2, h3, h4,h5{
  margin: 0;
}

p{
  margin: 0;
}

ul{
  list-style: none;
  padding: 0;
}

a{
  text-decoration: none;
}





/*-----HAEDER SECTION START-----*/


.site__header{
  padding: 24px 0;
  border-bottom: 1px solid #EEEEF4;
  margin-bottom: 92px;
  position: sticky;
  top: 0;
  background: var(--white-color);
}

.header__wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.header__start{
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__logo{
  width: 81px;
  height: 28px;
  margin-right: 50px;
}

.header__logo:hover{
  opacity: 80%;
}

.header__logo:active{
  opacity: 60%;
}

.header__nav-list{
  display: flex;
  justify-content: space-between;
  width: 402px;
  list-style: none;
}

.header__nav-link{
  font-size: 16px;
  font-weight: 600;
  color: var(--text-color);
}

.header__nav-link:hover{
  color: #1AAB7B;
}

.header__nav-link:active{
  color: #1AAB7B;
  opacity: 60%;
}

.header__btn{
  font-size: 14px;
  font-weight: 700;
  color: var(--white-color);
  padding: 12px 24px;
  background: #101010;
  border-radius: 6px;
}

.header__btn:hover{
  color: #1AAB7B;
  border: 1px solid #1AAB7B;
  background: none;
  padding: 11px 23px;
}

.header__btn:active{
  color: var(--white-color);
  background: var(--title-color);
  opacity: 60%;
  border: none;
  padding: 12px 24px
}

/*-----HAEDER SECTION END-----*/





/*-----HERO SECTION START-----*/


.hero__section-wrapper{
  display: flex;
  justify-content: space-between;
  margin-bottom: 156px;
}

.hero__section-title{
  width: 550px;
  font-size: 56px;
  font-weight: 700;
  line-height: 78.4px;
  margin-bottom: 20px;
  color: var(--title-color);
}

.hero__section-subtitle{
  width: 537px;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  color: #636F87;
  margin-bottom: 40px;
}

.hero__section-btn{
  display: inline-block;
  font-size: 16px;
  font-weight: 700;
  padding: 20px 40px;
  border-radius: 6px;
  color: var(--white-color);
  background: var(--green-color);
}

.hero__section-btn:hover{
  background: var(--white-color);
  border: 1px solid var(--green-color);
  color: var(--green-color);
  padding: 19px 39px;
}

.hero__section-btn:active{
  color: var(--white-color);
  background: var(--green-color);
  padding: 20px 40px;
  opacity: 70%;
  border: none;
}

.hero__section-video{
  border: none;
  border-radius: 6px;
}

/*-----HERO SECTION END-----*/





/*-----SERVICE SECTION START-----*/

.sercvice__section{
  background: var(--silver-bg);
  padding: 50px 0;
}

.service__section-title{
  font-size: 36px;
  font-weight: 600;
  line-height: 50.4px;
  text-align: center;
  color: var(--title-color);
  margin-bottom: 40px;
}

.service__section-box{
  display: flex;
  flex-wrap: wrap;
}

.service__box-card{
  display: flex;
  flex-direction: column;
  width: 384px;
  padding: 30px;
  border: 2px solid #E1E7ED;
  border-radius: 6px;
  cursor: pointer;
}

.service__box-card:nth-child(1){
  margin-right: 32px;
  margin-bottom: 32px;
}

.service__box-card:nth-child(2){
  margin-right: 32px;
}

.service__box-card:nth-child(4){
  margin-right: 32px;
}

.service__box-card:hover{
  background: var(--green-color);
}

.service__box-card:hover .service__card-title{
  color: var(--white-color);
}

.service__box-card:hover .service__card-subtitle{
  color: var(--white-color);
}

.service__box-card:hover .service__card-btn{
  text-decoration: underline;
  color: var(--white-color);
}

.service__card-title{
  display: flex;
  font-size: 32px;
  font-weight: 600;
  line-height: 44.8px;
  color: var(--title-color);
  margin-bottom: 20px;
}

.service__card-title::after{
  content: url(/img/card-web-img.svg);
  width: 64px;
  height: 64px;

  margin-left: 60px;
  background-color: #E1E7ED;
}

.service__card-subtitle{
  font-size: 18px;
  line-height: 27px;
  color: var(--subtitle-color);
}

.service__card-btn{
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  color: var(--black);
}

.web .service__card-subtitle{
  margin-bottom: 50px;
}

/*-----SERVICE SECTION END-----*/





/*-----PLAN SECTION START-----*/

.plan__section{
  padding: 100px 0;
}

.plan__section-wrapper{
  display: flex;
  flex-direction: column;
}

.plan__section-article{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.plan__section-title{
  font-size: 36px;
  font-weight: 600;
  line-height: 50.4px;
  text-align: center;
  margin-bottom: 16px;
}

.plan__section-subtitle{
  width: 650px;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  text-align: center;
  margin-bottom: 90px;
}

.plan__section-content{
  display: flex;
}

.plan-start{
  display: flex ;
  justify-content: flex-start;
  margin-bottom: 100px;
}

.plan-middle{
  justify-content: right;
  margin-bottom: 100px;
}

.plan__content-img:nth-child(1){
  margin-right: 32px;
}

.plan__content-img:nth-child(3){
  margin-right: 32px;
}

.plan__text-title{
  width: 488px;
  font-size: 40px;
  font-weight: 700;
  margin-top: 26px;
  margin-bottom: 20px;
}

.plan__text-subtitle{
  width: 488px;
  font-size: 18px;
  color: var(--subtitle-color);
  line-height: 27px;
}

.plan__text-subtitle:nth-child(2){
  margin-right: 32px;
}

/*-----PLAN SECTION END-----*/